/* Selectors' name follow BEM naming convention */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.95;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

/* flex takes up the entire container width and height */
.app__right {
  display: flex;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
    width: 100%;
  }
}
